*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
:root {
  --primary-color: rgb(22, 7, 64);
  --secondary-color: rgb(30, 10, 80);
  --secondary-color-alpha: rgb(30, 10, 80, 0.6);
  --text-color: rgb(255, 255, 255);
  --accent-text: rgb(68, 182, 250);
  --secondary-accent: rgb(255, 165, 0);
  --neutral-button: rgb(255, 198, 0);
  --border-color: rgb(120, 126, 252);
  --buttons-hover: rgb(243, 76, 135);
  --alerts-color: rgb(255, 69, 0);
  --box-shadow: rgb(10, 3, 30);
  --active-btn: rgb(233, 3, 255);
}
@font-face {
  font-family: "Road Rage";
  src: url("./assets/fonts/Road_Rage.otf") format("opentype");
}
@font-face {
  font-family: "Digital Alarm";
  src: url("./assets/fonts/alarm_clock.ttf") format("truetype");
}
@font-face {
  font-family: "VCR Mono";
  src: url("./assets/fonts/vcr_mono.ttf") format("truetype");
}
/*#region main*/
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: var(--primary-color);
  align-items: center;
  background-image: url("./assets/images/vector-grid.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 99.99%;
  object-fit: cover;
  overflow-y: scroll;
}

.main-content {
  margin: 20px;
  display: flex;
  flex-direction: column;
  /* width: 99%; */
  height: 100%;
  align-items: center;
}
/*#endregion main*/
/* #region header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 99%; */
  /* border: 2px solid var(--border-color); */
}
.greeting_container {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  justify-content: flex-start;
  margin: 5px;
  padding: 0px 5px;
}
.greeting {
  font-family: "VCR Mono";
  font-weight: 100;
}
.tod-greeting {
  font-family: "Road Rage";
  font-weight: 100;
  color: var(--secondary-accent);

  font-size: 2em;
}
.search-bar_container {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  justify-content: center;
  margin: 10px;
  /* box-shadow: 5px 5px 5px 5px var(--box-shadow); */
}
.location-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.location-search_input {
  flex-basis: 90%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--border-color);
  color: var(--secondary-accent);
  opacity: 100%;
  font-family: "VCR Mono";
  font-weight: 100;
  font-size: 2em;
  margin: 0.1em;
}
.location-search_input:focus {
  outline: none !important;
  box-shadow: 5px 5px 5px 5px var(--box-shadow);
  /* border: 1px solid #f34c87; */
}
.location-search_input::placeholder {
  font-family: "VCR Mono";
  opacity: 50%;
  color: var(--secondary-accent);
}
.search_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-family: "Road Rage";
  background-color: var(--secondary-accent);
  color: var(--primary-color);
  padding: 0.25em;
  margin: 0.1em;
  border: none;
  flex-basis: 5%;
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px var(--box-shadow);
}
.search_btn > img:hover {
  border: 2px solid var(--secondary-color);
  scale: 0.9;
}
.search_btn:hover {
  background-color: var(--buttons-hover);
  scale: 0.9;
}
.search-error {
  color: var(--alerts-color);
  font-family: "VCR Mono";
  padding: 0.5em;
  display: none;
}
.unit-toggle_container {
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px 5px var(--box-shadow);
  border: 2px solid var(--border-color);
  margin: 1em 1em 1em 1em;
}
.unit-title {
  color: var(--secondary-accent);
  font-size: 1.2em;
  padding-right: 5px;
  font-family: "Road Rage";
}
.unit-toggle_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.unit-toggle_wrapper > p {
  font-size: 2em;
  font-family: "Digital Alarm";
  font-weight: 100;
  color: var(--text-color);
  margin: 0.2em;
}
.switch {
  position: relative;
  display: inline-flex;
  margin: 0.5em;
  width: 60px;
  height: 34px;
}
.unit-toggle {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--neutral-button);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 5px 5px 5px 5px var(--box-shadow);
}
.slider:hover {
  background-color: var(--buttons-hover);
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: var(--neutral-button);
}
input:focus + .slider {
  box-shadow: 0 0 1px rgb(10, 3, 30);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*#endregion header*/

.primary-info_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0;
  /* box-shadow: 5px 5px 5px 5px var(--box-shadow); */
  /* border: 2px solid var(--border-color); */
  /* height: fit-content; */
}
.primary-info_container > * {
  color: var(--text-color);
  height: 50vh;
}

/*#region current*/
.current-weather_container {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin: 1em;
  height: fit-content;
  box-shadow: 5px 5px 5px 5px var(--box-shadow);
  border: 2px solid var(--border-color);
}

.general-info_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: fit-content;
  padding: 0.5em;
  background-color: var(--secondary-color-alpha);
}
.general-top_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.3em;
  box-shadow: 5px 5px 5px 5px var(--box-shadow);
  /* filter: drop-shadow(20px 20px 5px rgb(10, 3, 30)); */
}
.location {
  font-family: "Road Rage";
  color: var(--alerts-color);
  font-weight: 100;
  font-size: 3.5em;
  padding: 5px;
  width: 100%;
  text-align: center;
  flex-basis: 100%;
  height: 200px;
  /* background-color: var(--primary-color); */
}
.weather-condition-icon {
  width: 20em;
  flex-basis: 100%;
}
.weather-condition-description {
  display: flex;
  justify-content: center;
  font-size: 2em;
  align-items: center;
  font-family: "Road Rage";
  font-weight: 100;
  color: var(--secondary-accent);
}
.general-bottom_wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  margin: 0.5em;
}
.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}
.flex-sub-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-basis: 100%;
  margin: 0.3em;
  min-width: fit-content;
}
.date {
  font-family: "Road Rage";
  font-size: 1.3em;
  font-weight: 100;
  padding: 0.2em;
  width: fit-content;
}
.time {
  font-family: "Digital Alarm";
  font-size: 1em;
  font-weight: 100;
  padding: 0.2em;
  text-align: left;
}
.temperature {
  display: flex;
  font-size: 6.5em;
  font-weight: 100;
  padding: 0.05em;
  /* flex-basis: 100%; */
  font-family: "Digital Alarm";
  color: var(--secondary-accent);
}
sup.large {
  font-family: "Digital Alarm";
  font-size: 0.5em;
  margin-top: 0.2em;
  flex-basis: 100%;
}

/*#endregion current*/

/*#region forecast*/
.forecast_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 60%;
  margin: 2em 1em;
  border: 2px solid var(--border-color);
  height: fit-content;
  box-shadow: 5px 5px 5px 5px var(--box-shadow);
}
.forecast-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.forecast-range-select {
  display: flex;
  margin: 0.5em;
}
.forecast-range-select > button {
  font-family: "Road Rage";
  font-weight: 100;
  font-size: 1.3em;
  color: var(--primary-color);
  height: 35px;
  width: 100px;
  margin: 0.3em;
  background-color: var(--secondary-accent);
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px var(--box-shadow);
}
.forecast-range-select > button:hover {
  background-color: var(--buttons-hover);
  scale: 0.9;
}
.forecast-range-select > button.active {
  background-color: var(--active-btn);
}
.pagination-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 100%;
  margin: 0 1em 0 0;
}
.controls-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pagination-controls > div > img {
  margin: 0.25em;
  width: 2em;
  cursor: pointer;
}
.pagination-controls > div > img:hover {
  background-color: var(--secondary-color);
  border-radius: 50%;
  scale: 1.1;
}
.slidernavBtn {
  border: 1px solid var(--active-btn);
  background-color: transparent;
  height: 0.5em;
  width: 0.5em;
  margin: 0.25em;
  cursor: pointer;
}
/* .slidernavBtn:active {
  background-color: var(--active-btn);
} */
.slidernavBtn.active {
  background-color: var(--active-btn);
}
.weather-report_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
  border: 2px solid var(--border-color);
  flex-basis: 100%;
  box-shadow: 5px 5px 5px 5px var(--box-shadow);
}
.slide_container.active {
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
  align-items: center;
  font-size: 1.5em;
  padding: 0.5em;
  background-color: var(--secondary-color-alpha);
  /* filter: drop-shadow(20px 10px 4px rgb(10, 3, 30)); */
}
.slide_container {
  display: none;
}
.forecast-daily {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
  box-shadow: 5px 5px 5px 5px var(--box-shadow);
}
.forecast-hourly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
  box-shadow: 5px 5px 5px 5px var(--box-shadow);
}
.day {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--alerts-color);
  min-width: 120px;
  font-family: "Road Rage";
  font-weight: 100;
}
.hour {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--alerts-color);
  min-width: 120px;
  font-family: "Digital Alarm";
  font-weight: 100;
}
.weather-data {
  display: flex;
  margin-top: 0.7em;
  justify-content: center;
  flex-direction: column;
  font-size: 0.8em;
  width: 6em;
  align-items: center;
}
.weather-data > * {
  align-content: center;
}
sup {
  font-family: "Digital Alarm";
  font-size: 0.5em;
}
.temp-high {
  font-size: 2em;
  font-family: "Digital Alarm";
  color: var(--secondary-accent);
  font-weight: 100;
}
.temp-low {
  font-family: "Digital Alarm";
  font-size: 1.5em;
  color: var(--text-color);
  font-weight: 100;
}
/*#endregion forecast*/

/*#region secondary*/
.secondary-weather-info_container {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  max-width: 300px;
  min-width: 296px;
  margin: 1em;
  border: 2px solid var(--border-color);
  box-shadow: 5px 5px 5px 5px var(--box-shadow);
  background-color: var(--secondary-color-alpha);
  height: fit-content;
}
.secondary-weather_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  flex-basis: 100%;
}

.secondary-info-flex-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 100%;
  height: 1em;
}
.secondary-svg {
  margin: 1em;
  width: 3em;
}
.secondary-content-wrapper {
  flex-basis: 100%;
  margin: 1em 0;
}
.secondary-content-wrapper > * {
  padding: 0.2em;
  color: var(--text-color);
  font-family: "Digital Alarm";
  font-weight: 100;
  font-size: 1.5em;
}
.secondary-content {
  font-family: "VCR Mono";
  font-weight: 100;
  font-size: 1.3em;
}
.gif-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  border: 2px solid var(--border-color);
  box-shadow: inset 5px 5px 5px 5px var(--box-shadow);
}
.gif-container > img {
  max-width: 100%;
  filter: opacity(35%) saturate(5);
}
/*#endregion secondary*/

/*#region alerts*/
.weather-alerts_container {
  display: flex;
  flex-direction: row;
}
.weather-desc_container,
.extreme-weather_container {
  display: flex;
  flex-direction: column;
  margin: 1em;
  flex-basis: 100%;
  border: 2px solid var(--border-color);
  box-shadow: 5px 5px 5px 5px var(--box-shadow);
  background-color: var(--secondary-color-alpha);
}
.weather-desc_container > h2,
.extreme-weather_container > h2 {
  display: flex;
  font-family: "Road Rage";
  font-size: 1.3em;
  font-weight: 100;
  /* align-items: flex-start;
  align-content: center; */
  color: var(--alerts-color);
  margin: 0.5em;
}
.weather-desc_container > p,
.extreme-weather_container > p {
  align-items: center;
  align-content: center;
  color: var(--text-color);
  margin: 0.5em;
  font-family: "VCR Mono";
  font-weight: 100;
  width: 75%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--secondary-accent);
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
  caret-color: var(--secondary-accent);
}
/*#endregion alerts*/

/*#region media queries*/
@media only screen and (max-width: 1740px) {
  .primary-info_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .forecast_container {
    order: 3;
  }
  .current-weather_container {
    max-width: fit-content;
    order: 1;
  }
  .secondary-weather-info_container {
    order: 2;
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
  }
  .greeting_container {
    max-width: 300px;
    flex-basis: 50%;
  }
  .search-bar_container {
    order: 2;
  }
  .unit-toggle_container {
    flex-basis: 50%;
    max-width: fit-content;
  }
  .forecast_container {
    scale: 0.85;
    max-width: fit-content;
  }
}
@media only screen and (max-width: 800px) {
  .primary-info_container {
    justify-content: center;
  }
  .header {
    scale: 0.8;
  }
  .forecast_container {
    order: 2;
    align-self: flex-start;
    flex-direction: column;
  }
  .forecast-controls {
    align-items: center;
  }
  .weather-report_container {
    flex-direction: column;
    /* align-self: center; */
  }
  .slide_container.active {
    flex-direction: column;
    max-width: 100%;
    /* flex-wrap: wrap; */
  }
  .slide_container.active > * {
    /* flex-direction: row; */
    flex-basis: 100%;
    width: 100%;
  }
  .weather-data {
    flex-direction: row;
    width: 100%;
  }
  .weather-data > * {
    padding: 0px 5px;
  }
  .weather-data > img {
    max-width: 135px;
    scale: 0.5;
  }
  .weather-desc_container,
  .extreme-weather_container {
    margin: 0.5em;
  }
  .weather-desc_container > h2,
  .extreme-weather_container > h2 {
    margin: 0.3em;
    /* height: 500px; */
    /* align-items: center; */
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  .header {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .greeting_container {
    max-width: 300px;
  }
  .search-bar_container {
    align-items: center;
    max-width: 200px;
    order: 2;
    /* scale: 0.6; */
  }
  .unit-toggle_container {
    flex-basis: 50%;
    max-width: fit-content;
  }
  .primary-info_container {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    max-width: 100%;
  }
  .primary-info_container > * {
    /* scale: 0.8; */
  }
  .forecast_container {
    max-width: fit-content;
    /* scale: 0.8; */
  }
}
/*#endregion media queries*/
